In [ ]:
import pandas as pd

In [ ]:
covid_jabar = pd.read_csv('Data COVID-19 Jawa Barat.csv')
covid_jabar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17696 entries, 0 to 17695
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   tanggal                               17696 non-null  object
 1   kode_prov                             17696 non-null  int64
 2   nama_prov                             17696 non-null  object
 3   kode_kab                              17696 non-null  int64
 4   nama_kab                              17696 non-null  object
 5   closecontact                          17696 non-null  int64
 6   closecontact_dikarantina              17696 non-null  int64
 7   closecontact_discarded                17696 non-null  int64
 8   suspect                               17696 non-null  int64
 9   suspect_diisolasi                     17696 non-null  int64
 10  suspect_discarded                     17696 non-null  int64
 11  probable                              17696 non-null  int64
 12  probable_diisolasi                    17696 non-null  int64
 13  probable_discarded                    17696 non-null  int64
 14  probable_meninggal                    17696 non-null  int64
 15  confirmation                          17696 non-null  int64
 16  confirmation_selesai                  17696 non-null  int64
 17  confirmation_meninggal                17696 non-null  int64
 18  pertumbuhan_closecontact              17696 non-null  int64
 19  pertumbuhan_closecontact_discarded    17696 non-null  int64
 20  pertumbuhan_closecontact_dikarantina  17696 non-null  int64
 21  pertumbuhan_suspect                   17696 non-null  int64
 22  pertumbuhan_suspect_discarded         17696 non-null  int64
 23  pertumbuhan_suspect_diisolasi         17696 non-null  int64
 24  pertumbuhan_probable                  17696 non-null  int64
 25  pertumbuhan_probable_discarded        17696 non-null  int64
 26  pertumbuhan_probable_diisolasi        17696 non-null  int64
 27  pertumbuhan_probable_meninggal        17696 non-null  int64
 28  pertumbuhan_confirmation              17696 non-null  int64
 29  pertumbuhan_confirmation_selesai      17696 non-null  int64
 30  pertumbuhan_confirmation_meninggal    17696 non-null  int64
 31  Unnamed: 31                           0 non-null      float64
dtypes: float64(1), int64(28), object(3)
memory usage: 4.3+ MB

In [ ]:
covid_jabar

,tanggal,kode_prov,nama_prov,kode_kab,nama_kab,closecontact,closecontact_dikarantina,closecontact_discarded,suspect,suspect_diisolasi,...,pertumbuhan_suspect_discarded,pertumbuhan_suspect_diisolasi,pertumbuhan_probable,pertumbuhan_probable_discarded,pertumbuhan_probable_diisolasi,pertumbuhan_probable_meninggal,pertumbuhan_confirmation,pertumbuhan_confirmation_selesai,pertumbuhan_confirmation_meninggal,Unnamed: 31
0,2020-08-01,32,Provinsi Jawa Barat,3208,KAB. KUNINGAN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,2020-08-01,32,Provinsi Jawa Barat,3277,KOTA CIMAHI,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,NaN
2,2020-08-01,32,Provinsi Jawa Barat,3206,KAB. TASIKMALAYA,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,NaN
3,2020-08-01,32,Provinsi Jawa Barat,3213,KAB. SUBANG,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,NaN
4,2020-08-01,32,Provinsi Jawa Barat,3215,KAB. KARAWANG,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17691,2022-04-24,32,Provinsi Jawa Barat,3214,KAB. PURWAKARTA,7079,6201,878,5014,4582,...,0,0,0,0,0,0,0,0,0,NaN
17692,2022-04-24,32,Provinsi Jawa Barat,3274,KOTA CIREBON,10384,9669,715,2723,2636,...,0,0,0,0,0,0,0,0,0,NaN
17693,2022-04-24,32,Provinsi Jawa Barat,3278,KOTA TASIKMALAYA,12812,12478,334,2681,2637,...,0,0,0,0,0,0,0,0,0,NaN
17694,2022-04-24,32,Provinsi Jawa Barat,3209,KAB. CIREBON,21446,15519,5927,631,529,...,0,0,0,0,0,0,0,0,0,NaN
17695,2022-04-24,32,Provinsi Jawa Barat,3211,KAB. SUMEDANG,4891,4620,271,2311,2247,...,0,0,0,0,0,0,0,0,0,NaN

In [ ]:
covid_jabar_cfm = covid_jabar[['tanggal','nama_kab','confirmation','confirmation_selesai','confirmation_meninggal']]
covid_jabar_cfm

,tanggal,nama_kab,confirmation,confirmation_selesai,confirmation_meninggal
0,2020-08-01,KAB. KUNINGAN,49,25,2
1,2020-08-01,KOTA CIMAHI,158,136,2
2,2020-08-01,KAB. TASIKMALAYA,26,7,1
3,2020-08-01,KAB. SUBANG,86,51,2
4,2020-08-01,KAB. KARAWANG,100,42,1
...,...,...,...,...,...
17691,2022-04-24,KAB. PURWAKARTA,16967,16346,604
17692,2022-04-24,KOTA CIREBON,16741,15460,550
17693,2022-04-24,KOTA TASIKMALAYA,18512,17897,571
17694,2022-04-24,KAB. CIREBON,31504,30525,960
17695,2022-04-24,KAB. SUMEDANG,13279,13041,171

In [ ]:
covid_jabar_cfm['tanggal'] = pd.to_datetime(covid_jabar_cfm['tanggal'])
covid_jabar_cfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17696 entries, 0 to 17695
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tanggal                 17696 non-null  datetime64[ns]
 1   nama_kab                17696 non-null  object
 2   confirmation            17696 non-null  int64
 3   confirmation_selesai    17696 non-null  int64
 4   confirmation_meninggal  17696 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 691.4+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_jabar_cfm_240422 = covid_jabar_cfm.loc[(covid_jabar_cfm['tanggal'] == '2022-04-24')].reset_index(drop=True)
covid_jabar_cfm_240422.info()
covid_jabar_cfm_240422

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tanggal                 28 non-null     datetime64[ns]
 1   nama_kab                28 non-null     object
 2   confirmation            28 non-null     int64
 3   confirmation_selesai    28 non-null     int64
 4   confirmation_meninggal  28 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.2+ KB

,tanggal,nama_kab,confirmation,confirmation_selesai,confirmation_meninggal
0,2022-04-24,KAB. KUNINGAN,16563,16240,286
1,2022-04-24,KOTA CIMAHI,21284,15134,190
2,2022-04-24,KAB. TASIKMALAYA,10378,10044,317
3,2022-04-24,KAB. SUBANG,14185,13765,298
4,2022-04-24,KAB. KARAWANG,55362,53310,2033
5,2022-04-24,KAB. BEKASI,83818,83212,567
6,2022-04-24,KOTA BANDUNG,93937,93160,447
7,2022-04-24,KOTA BOGOR,59543,58905,545
8,2022-04-24,KOTA BEKASI,172123,170842,1046
9,2022-04-24,KAB. CIANJUR,15227,14970,226
10,2022-04-24,KOTA SUKABUMI,12438,12034,290
11,2022-04-24,KOTA DEPOK,164053,161235,2220
12,2022-04-24,BELUM TERIDENTIFIKASI,2178,2165,9
13,2022-04-24,KAB. BANDUNG,53556,52559,633
14,2022-04-24,KAB. INDRAMAYU,21600,20594,760
15,2022-04-24,KAB. PANGANDARAN,6050,5879,153
16,2022-04-24,KOTA BANJAR,6092,5943,144
17,2022-04-24,KAB. GARUT,33925,32585,1273
18,2022-04-24,KAB. BOGOR,90847,90617,206
19,2022-04-24,KAB. BANDUNG BARAT,28067,27698,297
20,2022-04-24,KAB. SUKABUMI,15942,15546,346
21,2022-04-24,KAB. CIAMIS,16896,16019,328
22,2022-04-24,KAB. MAJALENGKA,13849,13574,267
23,2022-04-24,KAB. PURWAKARTA,16967,16346,604
24,2022-04-24,KOTA CIREBON,16741,15460,550
25,2022-04-24,KOTA TASIKMALAYA,18512,17897,571
26,2022-04-24,KAB. CIREBON,31504,30525,960
27,2022-04-24,KAB. SUMEDANG,13279,13041,171

In [ ]:
covid_jabar_cfm_240422 = covid_jabar_cfm_240422.drop(columns=['tanggal'])
covid_jabar_cfm_240422

,nama_kab,confirmation,confirmation_selesai,confirmation_meninggal
0,KAB. KUNINGAN,16563,16240,286
1,KOTA CIMAHI,21284,15134,190
2,KAB. TASIKMALAYA,10378,10044,317
3,KAB. SUBANG,14185,13765,298
4,KAB. KARAWANG,55362,53310,2033
5,KAB. BEKASI,83818,83212,567
6,KOTA BANDUNG,93937,93160,447
7,KOTA BOGOR,59543,58905,545
8,KOTA BEKASI,172123,170842,1046
9,KAB. CIANJUR,15227,14970,226
10,KOTA SUKABUMI,12438,12034,290
11,KOTA DEPOK,164053,161235,2220
12,BELUM TERIDENTIFIKASI,2178,2165,9
13,KAB. BANDUNG,53556,52559,633
14,KAB. INDRAMAYU,21600,20594,760
15,KAB. PANGANDARAN,6050,5879,153
16,KOTA BANJAR,6092,5943,144
17,KAB. GARUT,33925,32585,1273
18,KAB. BOGOR,90847,90617,206
19,KAB. BANDUNG BARAT,28067,27698,297
20,KAB. SUKABUMI,15942,15546,346
21,KAB. CIAMIS,16896,16019,328
22,KAB. MAJALENGKA,13849,13574,267
23,KAB. PURWAKARTA,16967,16346,604
24,KOTA CIREBON,16741,15460,550
25,KOTA TASIKMALAYA,18512,17897,571
26,KAB. CIREBON,31504,30525,960
27,KAB. SUMEDANG,13279,13041,171

In [ ]:
covid_jabar_cfm_240422 = covid_jabar_cfm_240422.drop([12]).reset_index(drop=True)
covid_jabar_cfm_240422

,nama_kab,confirmation,confirmation_selesai,confirmation_meninggal
0,KAB. KUNINGAN,16563,16240,286
1,KOTA CIMAHI,21284,15134,190
2,KAB. TASIKMALAYA,10378,10044,317
3,KAB. SUBANG,14185,13765,298
4,KAB. KARAWANG,55362,53310,2033
5,KAB. BEKASI,83818,83212,567
6,KOTA BANDUNG,93937,93160,447
7,KOTA BOGOR,59543,58905,545
8,KOTA BEKASI,172123,170842,1046
9,KAB. CIANJUR,15227,14970,226
10,KOTA SUKABUMI,12438,12034,290
11,KOTA DEPOK,164053,161235,2220
12,KAB. BANDUNG,53556,52559,633
13,KAB. INDRAMAYU,21600,20594,760
14,KAB. PANGANDARAN,6050,5879,153
15,KOTA BANJAR,6092,5943,144
16,KAB. GARUT,33925,32585,1273
17,KAB. BOGOR,90847,90617,206
18,KAB. BANDUNG BARAT,28067,27698,297
19,KAB. SUKABUMI,15942,15546,346
20,KAB. CIAMIS,16896,16019,328
21,KAB. MAJALENGKA,13849,13574,267
22,KAB. PURWAKARTA,16967,16346,604
23,KOTA CIREBON,16741,15460,550
24,KOTA TASIKMALAYA,18512,17897,571
25,KAB. CIREBON,31504,30525,960
26,KAB. SUMEDANG,13279,13041,171

In [ ]:
covid_jabar_final = pd.DataFrame(covid_jabar_cfm_240422)
covid_jabar_final['confirmation_perawatan'] = covid_jabar_final['confirmation'] - (covid_jabar_final['confirmation_selesai'] + covid_jabar_final['confirmation_meninggal'])
covid_jabar_final

,nama_kab,confirmation,confirmation_selesai,confirmation_meninggal,confirmation_perawatan
0,KAB. KUNINGAN,16563,16240,286,37
1,KOTA CIMAHI,21284,15134,190,5960
2,KAB. TASIKMALAYA,10378,10044,317,17
3,KAB. SUBANG,14185,13765,298,122
4,KAB. KARAWANG,55362,53310,2033,19
5,KAB. BEKASI,83818,83212,567,39
6,KOTA BANDUNG,93937,93160,447,330
7,KOTA BOGOR,59543,58905,545,93
8,KOTA BEKASI,172123,170842,1046,235
9,KAB. CIANJUR,15227,14970,226,31
10,KOTA SUKABUMI,12438,12034,290,114
11,KOTA DEPOK,164053,161235,2220,598
12,KAB. BANDUNG,53556,52559,633,364
13,KAB. INDRAMAYU,21600,20594,760,246
14,KAB. PANGANDARAN,6050,5879,153,18
15,KOTA BANJAR,6092,5943,144,5
16,KAB. GARUT,33925,32585,1273,67
17,KAB. BOGOR,90847,90617,206,24
18,KAB. BANDUNG BARAT,28067,27698,297,72
19,KAB. SUKABUMI,15942,15546,346,50
20,KAB. CIAMIS,16896,16019,328,549
21,KAB. MAJALENGKA,13849,13574,267,8
22,KAB. PURWAKARTA,16967,16346,604,17
23,KOTA CIREBON,16741,15460,550,731
24,KOTA TASIKMALAYA,18512,17897,571,44
25,KAB. CIREBON,31504,30525,960,19
26,KAB. SUMEDANG,13279,13041,171,67

In [ ]:
covid_jabar_final = covid_jabar_final[['nama_kab','confirmation','confirmation_perawatan','confirmation_selesai','confirmation_meninggal']]
covid_jabar_final

,nama_kab,confirmation,confirmation_perawatan,confirmation_selesai,confirmation_meninggal
0,KAB. KUNINGAN,16563,37,16240,286
1,KOTA CIMAHI,21284,5960,15134,190
2,KAB. TASIKMALAYA,10378,17,10044,317
3,KAB. SUBANG,14185,122,13765,298
4,KAB. KARAWANG,55362,19,53310,2033
5,KAB. BEKASI,83818,39,83212,567
6,KOTA BANDUNG,93937,330,93160,447
7,KOTA BOGOR,59543,93,58905,545
8,KOTA BEKASI,172123,235,170842,1046
9,KAB. CIANJUR,15227,31,14970,226
10,KOTA SUKABUMI,12438,114,12034,290
11,KOTA DEPOK,164053,598,161235,2220
12,KAB. BANDUNG,53556,364,52559,633
13,KAB. INDRAMAYU,21600,246,20594,760
14,KAB. PANGANDARAN,6050,18,5879,153
15,KOTA BANJAR,6092,5,5943,144
16,KAB. GARUT,33925,67,32585,1273
17,KAB. BOGOR,90847,24,90617,206
18,KAB. BANDUNG BARAT,28067,72,27698,297
19,KAB. SUKABUMI,15942,50,15546,346
20,KAB. CIAMIS,16896,549,16019,328
21,KAB. MAJALENGKA,13849,8,13574,267
22,KAB. PURWAKARTA,16967,17,16346,604
23,KOTA CIREBON,16741,731,15460,550
24,KOTA TASIKMALAYA,18512,44,17897,571
25,KAB. CIREBON,31504,19,30525,960
26,KAB. SUMEDANG,13279,67,13041,171

In [ ]:
covid_jabar_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nama_kab                27 non-null     object
 1   confirmation            27 non-null     int64
 2   confirmation_perawatan  27 non-null     int64
 3   confirmation_selesai    27 non-null     int64
 4   confirmation_meninggal  27 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.2+ KB

In [ ]:
covid_jabar_final.to_csv('Covid19_Jabar.csv')